li{
    display: inline;
    margin-right: 80px;
  }
  #logoCabe{
    height: 100px;
    width: 100px;
    display:inline-block;
  margin: 0 auto;
  }

  header{
    width:100%;
    text-align:center;
    background-color: rgba(147, 228, 210, 0.425);
  }
  
  
footer{
 
  height: 100px;
  line-height: 60px;
  background-color:rgba(147, 228, 210, 0.425);
}
footer p{
text-align : center;
}


#navAtual{
  color: blue;
}
#navAtual:hover{
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

h1{
  margin-bottom: 0px;
}